<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<title>{% block title %}It Works{% endblock %} - {{ config('APP_NAME') }}</title>

	<!-- Fav Icon -->
	<link rel="icon" href="{{ site_url('/favicon.ico') }}" type="image/x-icon">

	{% block css %}{% endblock %}
</head>
<body>

<div class="boxed_wrapper">

	{% block content %}
		Loading ...
	{% endblock %}
</div>

{% block js %}{% endblock %}

</body>
</html>
